<footer class="footer">
  <small>
    Joku linkki <a href="#">linkki.fi</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Tietoa", about_path %></li>
      <li><%= link_to "Yhteystiedot", contact_path %></li>
    </ul>
  </nav>
</footer>