<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Lotto sivut</h1>
  <h2>T채h채n tulee perusinfo sivusta</h2>
  
  <%= link_to "Kirjaudu sis채채n", "#", class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("veikkaus.png", alt: "Veikkaus"), 'http://veikkaus.fi/' %>
