<% provide(:title, "Etusivu") %>
<div class="center jumbotron">
  <h1>Lottosivu</h1>
  <h2>Tähän tulee perusinfo sivusta</h2>
  
  <%= link_to "Uusi käyttäjä", signup_path, class: "btn btn-lg btn-primary" %>
</div>
